.form {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.form-container {
    padding: 1rem;
    display: flex;
    width: 60%;
    flex-direction: column;
}

.form-input-container {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
}

.label {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.5rem;
    width: 100px;
}

.input {
    width: 100%;
    border-radius: 4px;
    display: block;
    padding: 0.25rem 0.5rem;
    border: 1px solid black;
}

.invalid,
.invalid:focus {
    border-color: red;
}

.btn-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.btn {
    cursor: pointer;
    margin-top: 0.25rem;
    padding: 8px 10px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid black;
    margin-left: 0.25rem;
    transition: all 200ms ease;
}

.btn:hover {
    background-color: #CCD1D1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn:active {
    transform: scale(0.95);
}

@media screen and (max-width: 768px) {
    .form-input-container {
        flex-direction: column;
    }
}